{% extends "base.html" %}

{% load static %}

{% block title %} Blog Home Page {% endblock title %}

{% block content %}

<div class="row tm-row">
    {% for post in posts %} 
        <article class="col-12 col-md-6 tm-post">
            <hr class="tm-hr-primary">
            <a href="{{post.get_absolute_url}}" class="effect-lily tm-post-link tm-pt-60">
                <div class="tm-post-link-inner">
                    {% if post.img %}
                        <img src="{{post.img.url}}" alt="Image" class="img-fluid">
                    {% else %}    
                        <img src="{% static 'img/img-01.jpg' %}" alt="Image" class="img-fluid">
                    {% endif %}
                    
                </div>


                <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{post.title}}</h2>
            </a>
            <p class="tm-pt-30">
                {{post.description}}
            </p>
            <div class="d-flex justify-content-between tm-pt-45">
                <span class="tm-color-primary">Travel . Events</span>
                <span class="tm-color-primary">{{post.published_date|date:'M d, Y'}}</span>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                {% if post.comments.count == 0 %}
                    <span>No comments</span>
                {% else %}   
                    <span>{{post.comments.count}} comments</span>
                {% endif %}

                <span>by {{post.author|title}}</span>
            </div>
        </article>
    {% endfor %}
    
</div>
{% if posts.has_other_pages %}
    <div class="row tm-row tm-mt-100 tm-mb-75">
        <div class="tm-prev-next-wrapper">
            {% if posts.has_previous %}
                <a href="?page={{posts.previous_page_number}}" class="mb-2 tm-btn tm-btn-primary tm-prev-next tm-mr-20">Prev</a>
            {% else %}    
                <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Prev</a>
            {% endif %}

            {% if posts.has_next %}
                <a href="?page={{posts.next_page_number}}" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
            {% else %}    
                <a href="#" class="mb-2 tm-btn tm-btn-primary disabled tm-prev-next">Next</a>
            {% endif %}

        </div>
        <div class="tm-paging-wrapper">
            <span class="d-inline-block mr-3">Page</span>
            <nav class="tm-paging-nav d-inline-block">
                <ul>
                    {% for pages in posts.paginator.page_range %}
                        {% if posts.number == pages %}
                            <li class="tm-paging-item active">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">{{pages}}</a>
                            </li>
                        {% else %}
                            <li class="tm-paging-item ">
                                <a href="?page={{pages}}" class="mb-2 tm-btn tm-paging-link">{{pages}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    
                </ul>
            </nav>
        </div>
    </div>
{% endif %}

{% endblock content %}